<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<body>
<div layout:fragment="content">
  <div class="row">
    <h1 class="page-title">Wedding Blog</h1>
  </div>

  <!-- render list of wedding blog -->
  <div class="row wedding-blog-item" th:each="item : ${weddingBlogList}" xmlns:th="http://www.thymeleaf.org">

    <!-- render wedding blog icon -->
    <div class="col-1 wedding-blog-item-icon">
      <i th:if="${item.postType == 'PHOTO'}" class="fa fa-camera-retro" aria-hidden="true">
        <a></a>
      </i>
      <i th:if="${item.postType == 'POEM'}" class="fa fa-birthday-cake" aria-hidden="true"></i>
      <i th:if="${item.postType == 'PHOTO_AND_PARAGRAPH'}" class="fa fa-pencil" aria-hidden="true"></i>
      <i th:if="${item.postType == 'QUOTE'}" class="fa fa-quote-left" aria-hidden="true"></i>
    </div>

    <!-- render wedding blog title -->
    <div class="col-11">
      <div class="d-flex">
        <div class="mr-auto p-2"><a th:href="@{/details/{id}(id=${item.id})}" th:text="${item.title}"
                                    class="wedding-blog-item-title"></a></div>
        <div class="p-2 wedding-blog-item-publish-date" th:text="${item.publishedDate}"></div>
      </div>

      <!-- render wedding blog content -->
      <div class="row p-2">

        <!-- render wedding blog image url of PHOTO type -->
        <img th:if="${item.postType == 'PHOTO'}" th:src="${item.imgUrl}" class="img-fluid rounded"
             alt="wedding-image" />

        <!-- render wedding blog paragraph of POEM type -->
        <blockquote th:if="${item.postType == 'POEM'}" class="block-left">
          <p
            th:utext="${#strings.replace(#strings.escapeXml(item.paragraph),T(java.lang.System).getProperty('line.separator'),'&lt;br /&gt;')}"></p>
        </blockquote>

        <!-- render wedding blog image & paragraph of PHOTO_AND_PARAGRAPH type -->
        <div th:if="${item.postType == 'PHOTO_AND_PARAGRAPH'}" class="col-6">
          <img th:src="${item.imgUrl}" class="img-fluid rounded" alt="wedding-image" />
        </div>
        <div th:if="${item.postType == 'PHOTO_AND_PARAGRAPH'}" class="col-6">
          <p
            th:utext="${#strings.replace(#strings.escapeXml(item.paragraph),T(java.lang.System).getProperty('line.separator'),'&lt;br /&gt;')}"></p>
        </div>

        <!-- render wedding blog paragraph of QUOTE type -->
        <div th:if="${item.postType == 'QUOTE'}" class="col-12 float-right">
          <blockquote class="block-right">
            <p class="text-right"
               th:utext="${#strings.replace(#strings.escapeXml(item.paragraph),T(java.lang.System).getProperty('line.separator'),'&lt;br /&gt;')}"></p>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
  <a href="/overview"><p class="wedding-blog-overview text-center">Overview</p></a>
</div>
</body>
</html>